.marketing-site-footer {
  background: #0078C2;
  color: #ffffff;
  text-shadow: 2px 2px 1.7px black;
  padding: 2rem 0 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px; 
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-column {
  width: 30%; 
  text-align: center;
}

.marketing-site-footer-name {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.marketing-site-footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
  font-size: 1.5rem;
  color: #ffffff;
  margin-right: 1rem;
}

.marketing-site-footer-menu-social {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.marketing-site-footer-menu-social a {
  color: #ffffff;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .footer-container {
    justify-content: center;
  }

  .footer-column {
    width: 100%; 
    margin-bottom: 20px;
  }

  .marketing-site-footer-menu-social {
    justify-content: center;
  }
}
