/* NotFound.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #f8f9fa;
  color: #343a40;
}

.not-found-container h1 {
  font-size: 6em;
  margin: 0;
  color: #fa52a0;
}

.not-found-container p {
  font-size: 1.5em;
  margin: 20px 0;
  color: #fa52a0;
}

.not-found-container a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fa52a0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.not-found-container a:hover {
  background-color: #a180e1;
}

.error-pagina {
  font-family: "Poppins", sans-serif;
}
