/* Estilos generales para la sección de productos */
.products-container {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    justify-content: center;
  }

  .grid-x {
    margin-bottom: 1.5rem; /* Espacio entre filas en el contenedor de la cuadrícula */
  }
  
  .cell {
    margin-bottom: 1.5rem; /* Espacio entre tarjetas dentro de la cuadrícula */
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaciado entre las tarjetas */
    
  }
  
  /* Estilos para las tarjetas de productos */
  .product-card {
    background-color: #fefefe;
    border: 1px solid #e6e6e6;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 30%;
  }
  
  .product-card-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    overflow: hidden;
  }
  
  .product-card-thumbnail img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .product-card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.45rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #80cee1;
    transition: all 0.4s;
    text-align: center;
    justify-content: center;
  }
  
  .product-card-title:hover {
    color: #b880ff;
  }
  
  .product-card-desc {
    color: #8a8a8a;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    margin-top: 0.5rem;
  }
  
  .product-card-price {
    color: #3e3e3e;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 0.8rem;
  }
  
  .product-card-sale {
    color: #cacaca;
    display: inline-block;
    font-size: 0.85rem;
    margin-left: 0.3rem;
    text-decoration: line-through;
  }
  
  /* Estilos responsivos */
  @media (max-width: 1024px) {
    .product-card {
      width: 45%; /* Mostrar dos tarjetas por fila en pantallas medianas */
    }
  }
  
  @media (max-width: 768px) {
    .product-card {
      width: 45%; /* Mantener dos tarjetas horizontales en pantallas pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .product-card {
      width: 45%; /* Dos tarjetas por fila en pantallas muy pequeñas */
    }
  }
  