/* Estilos generales para la sección de productos */
.products-container {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  justify-content: center;
}

.grid-x {
  margin-bottom: 1.5rem; /* Espacio entre filas en el contenedor de la cuadrícula */
}

.cell {
  margin-bottom: 1.5rem; /* Espacio entre tarjetas dentro de la cuadrícula */
}

.imagen-productos {
  border: 3px solid #fff;
}
.product-card {
  position: relative;
  flex: 1 1 300px; /* Las tarjetas crecen para llenar el espacio, con un ancho mínimo de 300px */
  max-width: 30%; /* Límite máximo del 30% del contenedor */
  background-color: #fefefe;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: hidden; /* Asegura que el pseudo-elemento no sobresalga */
  transition: all 0.3s ease; /* Para animar la transición de hover */
  box-sizing: border-box; /* Para incluir padding y border en el ancho total */
}

.product-card-thumbnail,
.prueba-card-title,
.prueba-card-desc,
.prueba-card-price {
  position: relative;
  z-index: 2;
}

.product-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Esto cubre el 30% superior de la tarjeta */
  background-color: #ff6eb9; /* Cambia este color por el que prefieras */
  z-index: 1; /* Asegura que el pseudo-elemento esté por detrás del contenido */
  transition: background-color 0.3s ease; /* Transición suave del color */
}

.product-card-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
}

.product-card-thumbnail img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.prueba-card-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
  transition: all 0.4s;
  text-align: center;
  justify-content: center;
}

.product-card:hover::before {
  background-color: #a180e1;
}

.prueba-card-title:hover {
  color: #b880ff;
}

.prueba-card-desc {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  margin-top: 1rem;
  text-align: center;
}

.prueba-card-price {
  display: flex; /* O display: block */
  justify-content: center; /* Para centrar el texto */
  align-items: center; /* Para centrar verticalmente si es necesario */
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 0.9rem;
  margin-top: 0.8rem;
}

.productos-grande {
  color: #fa52a0; /* Color base del texto */
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 70px; /* Tamaño dinámico basado en el ancho de la pantalla */
  letter-spacing: 1.5px; /* Espaciado elegante entre letras */
  text-transform: uppercase; /* Todo el texto en mayúsculas para un estilo más formal */
  -webkit-text-stroke: 2px #fff; /* Borde fino del texto para dar un toque moderno */
  background: linear-gradient(
    135deg,
    #fa52a0 0%,
    #ff96c8 100%
  ); /* Degradado suave */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Relleno del texto con el degradado */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); /* Sombra sutil para darle profundidad */
  margin-top: 20px; /* Espaciado superior para dar aire al título */
}
.prueba-card-sale {
  color: #cacaca;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.btn-comprar {
  background-color: #a180e1; /* Verde padrão */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 0 auto;
}
/* Estilos responsivos */
@media (max-width: 1024px) {
  .product-card {
    width: 45%; /* Mostrar dos tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .product-card {
    width: 45%; /* Mantener dos tarjetas horizontales en pantallas pequeñas */
  }
  .productos-grande {
    font-size: 50px; /* Reducir el tamaño del título en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 45%; /* Dos tarjetas por fila en pantallas muy pequeñas */
  }
}
