body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .sign-in-form {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #fafafa;
    width: 800px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sign-in-form h4 {
    color: #fa52a0;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .sign-in-form label {
    text-transform: uppercase;
    color: #fa52a0;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .sign-in-form input {
    border-radius: 30px;
    border: none;
    transition: all ease 0.4s;
    margin-bottom: 3rem;
    color: #fa52a0;
    background-color: #ffffff99;
    padding: 1rem;
  }
  
  .sign-in-form input:focus {
    opacity: .8;
  }
  
  .logo-container-login {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    overflow: hidden;
  }
  
  .logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .sign-in-form-username,
  .sign-in-form-password,
  .register-form-email,
  .register-form-confirm-password {
    border-radius: 30px;
    border: none;
    transition: all ease .4s;
    margin-bottom: 3rem;
    color: #fa52a0;
    background-color: #ffffff99;
  }
  
  .sign-in-form-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #fa52a0;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
    margin-top: 1rem;
  }
  
  .sign-in-form-button:hover {
    background-color: #a180e1;
    border-color: #a180e1;
  }
  
  .login-registrarse {
    text-align: center;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .link {
    font-size: 18px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .sign-in-form {
      width: 600px;
      padding: 1rem;
    }
  
    .logo-container-login {
      width: 250px;
      height: 250px;
    }
  }
  
  @media (max-width: 480px) {
    .sign-in-form {
      width: 325px;
      padding: 1rem;
    }
  
    .sign-in-form h4 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  
    .logo-container-login {
      width: 200px;
      height: 200px;
    }
  
    .sign-in-form-username,
    .sign-in-form-password {
      margin-bottom: 2rem;
    }
  
    .sign-in-form-button {
      padding: 0.75rem;
      font-size: 0.9rem;
    }
  }
  
  .sign-in-form-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #fa52a0;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease 0.4s;
    margin-top: 1rem;
  }
  
  .sign-in-form-button:hover {
    background-color: #a180e1;
    border-color: #a180e1;
  }
  
  /* Estilo de mensajes de error */
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
  }
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
  }
  